#top{
    
}
#top .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
}
#top .info{
    padding: 15px;
    position: relative;
    
}
#top .blue-square{
    border: 20px solid #dbf1ff;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 0;
    top: -70%;
    left: -50%;
}
#top .info h1{
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #14171b;
    margin-bottom: 2rem;
    z-index: 1;
}
#top .info p {
    position: relative;
    color: #919191;
    text-transform: capitalize;
    margin-bottom: 4rem;
    z-index: 1;
}
#top .info a{
    font-size: .9 rem;
    color: #14171b;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    z-index: 1;
    letter-spacing: 2px;
}
#top .img{ 
    
}  
#top .img .background-img{
    background: url("https://content.fphl2-3.fna.fbcdn.net/v/t1.0-1/c84.189.180.180a/s160x160/12391299_10205235584385941_8019897027396120580_n.jpg?_nc_cat=101&_nc_sid=dbb9e7&_nc_ohc=KnohIHvn-iEAX-Wi8Wz&_nc_ht=scontent.fphl2-3.fna&oh=d7056e28f85a4b9b831f71a827b43a0c&oe=5EB7DE2E");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 450px;
    margin: 0 auto;
}
@media only screen and (max-width: 960px){

}
@media only screen and (max-width: 767px){

}